html {
  font-size: 16px;
}

body {
  font-family: var(--inter-font) !important;
  color: $black-onyx;
  line-height: 22px;
  background-color: $white;
  * {
    font-family: var(--inter-font) !important;
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
